Export/CustomersList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by Magic xpa 1.0 (http://www.magicsoftware.com)-->
<xs:schema targetNamespace="urn:Magic xpa.printdata" xmlns="urn:Magic xpa.printdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Ndx">
   <xs:simpleType >
      <xs:restriction base="xs:gDate">
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="CustomerID">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="CompanyName">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="ContactName">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="ContactTitle">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Address">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="City">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Region">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="PostalCode">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Country">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Phone">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Fax">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Print_data">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Record" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Record">
  <xs:complexType >
     <xs:sequence>
        <xs:element ref="Ndx"/>
        <xs:element ref="CustomerID"/>
        <xs:element ref="CompanyName"/>
        <xs:element ref="ContactName"/>
        <xs:element ref="ContactTitle"/>
        <xs:element ref="Address"/>
        <xs:element ref="City"/>
        <xs:element ref="Region"/>
        <xs:element ref="PostalCode"/>
        <xs:element ref="Country"/>
        <xs:element ref="Phone"/>
        <xs:element ref="Fax"/>
     </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
