Export/CustomersList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Magic xpa.printdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Print_data" type="urn:Print_dataType" xmlns:urn="urn:Magic xpa.printdata"/>
  <xs:complexType name="RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="Ndx"/>
      <xs:element type="xs:string" name="CustomerID"/>
      <xs:element type="xs:string" name="CompanyName"/>
      <xs:element type="xs:string" name="ContactName"/>
      <xs:element type="xs:string" name="ContactTitle"/>
      <xs:element type="xs:string" name="Address"/>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="Region"/>
      <xs:element type="xs:string" name="PostalCode"/>
      <xs:element type="xs:string" name="Country"/>
      <xs:element type="xs:string" name="Phone"/>
      <xs:element type="xs:string" name="Fax"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Print_dataType">
    <xs:sequence>
      <xs:element type="urn:RecordType" name="Record" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:Magic xpa.printdata"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>