Export/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by Magic xpa 1.0 (http://www.magicsoftware.com)-->
<xs:schema targetNamespace="urn:Magic xpa.printdata" xmlns="urn:Magic xpa.printdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Ndx">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="9"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="ProductID">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="ProductName">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="SupplierID">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="CategoryID">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="QuantityPerUnit">
   <xs:simpleType >
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="UnitPrice">
   <xs:simpleType >
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="13"/>
         <xs:fractionDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="UnitsInStock">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="5"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Discontinued">
   <xs:simpleType >
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="RecCreated">
   <xs:simpleType >
      <xs:restriction base="xs:date">
      </xs:restriction>
   </xs:simpleType>
</xs:element>
<xs:element name="Print_data">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Record" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Record">
  <xs:complexType >
     <xs:sequence>
        <xs:element ref="Ndx"/>
        <xs:element ref="ProductID"/>
        <xs:element ref="ProductName"/>
        <xs:element ref="SupplierID"/>
        <xs:element ref="CategoryID"/>
        <xs:element ref="QuantityPerUnit"/>
        <xs:element ref="UnitPrice"/>
        <xs:element ref="UnitsInStock"/>
        <xs:element ref="Discontinued"/>
        <xs:element ref="RecCreated"/>
     </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
