XpaDemo/external/XpaTPomo/Schemas/Xpa/MgUsrDmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UserDump">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Users">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="User" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string"/>
										<xs:element name="NAME" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserRights">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UserRight" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string"/>
										<xs:element name="RIGHT" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserGroups">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UserGroup" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:string"/>
										<xs:element name="GROUP" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Groups">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Group" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NAME" type="xs:string"/>
										<xs:element name="RIGHT" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
