XpaDemo/external/XpaTPomo/Schemas/Xpa/rights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by avi (private) -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--eDeveloper 10 Rights repository-->
	<xs:include schemaLocation="general.xsd"/>
	<xs:element name="Application">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Version" type="VAL_STRING_TYPE" minOccurs="0"/>
							<xs:element name="WithIsn" type="VAL_STRING_TYPE" minOccurs="0"/>
							<xs:element name="LastIsn" type="VAL_INT_TYPE" minOccurs="0"/>
							<xs:element name="LastIsnFolder" type="VAL_INT_TYPE" minOccurs="0"/>
							<xs:element ref="Folders"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RightsRepository" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rights">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Right" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Right">
	   <xs:complexType>
		   <xs:all>
               <xs:element name="PublicRight" type="VAL_STRING_TYPE" minOccurs="0"/>
			   <xs:element name="Key" type="VAL_STRING_TYPE" minOccurs="0"/>
			   <xs:element name="PublicName" type="VAL_STRING_TYPE" minOccurs="0"/>
			   <xs:element name="Comment" type="VAL_STRING_TYPE" minOccurs="0"/> 
		   </xs:all>
               <xs:attribute name="id" type="xs:int" use="optional"/>
               <xs:attribute name="name" type="xs:string" use="optional"/>
               <xs:attribute name="Folder" type="xs:string"/>
               <xs:attribute name="FolderIsn" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
  </xs:schema>